.contenthistory{
    background-image: url(https://images.squarespace-cdn.com/content/v1/62bdd1cc7fc2784fd9195c81/1656607200787-SDPFJRVMLVEENVNMKPPS/Texture_15_066-copy.jpg?format=1500w);
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}