.contact{
    background-image: url("https://images.squarespace-cdn.com/content/v1/62bdd1cc7fc2784fd9195c81/1656607204054-872S2Q68JKFC1D1DL083/Texture_12_003-1-copy.jpg?format=1500w");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.custom-overlay {
    background: rgba(0, 0, 0, 0.6) !important; 
    backdrop-filter: none !important;
  }
  